
.container {
  width: 90%;
}

.moz-banner {
  background: url('../src/assets/beans.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
}

.navbar-space {
  padding-bottom: 15px;
}

.title-header {
  padding-top: 200px;
  color: white;
  text-align: center;
}
